*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #D9CDF7;
    display: flex;
    height: 100vh;
    align-items: center;
}
.inicio{
    color: #271A45;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 10px;

}
.titulo{
    color: #271A45;
    font-family: Crimson Pro;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    line-height: 100%;

}
.valor{
    color: #271A45;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 10px;
}
.button{
    color: #271A45;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 999px;
border: 0.5px solid #271A45;
background-color: #D9CDF7;
width: 180px;
}
.box{
    margin-left: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}


.logo{
     margin-left: 350px; 
     width: 40px;
}
